@font-face {
    font-family: 'luntik_bold';
    src: url("../font/luntik_bold.otf") format(opentype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arciform Sans cyr-lat Regular';
    src: url("../font/arciform_sans_cyr-lat_regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}