/* header-footer */
@media(max-width:1024.98px){
    /* header */
    .bg-body::before {
        background-image: url("data:image/svg+xml,%3Csvg width='577' height='515' viewBox='0 0 577 515' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H577L553.7 42.0471L531.554 86.419C505.481 138.66 453.875 173.358 395.658 177.792C356.021 180.81 320.404 203.133 300.408 237.49L260.391 306.246C236.483 347.323 192.539 372.592 145.011 372.592C88.6499 372.592 38.3606 407.988 19.3419 461.043L0 515V0Z' fill='%23E64648'/%3E%3C/svg%3E");
    }
    .logo {
        max-width: 400px;
    }
    /* footer */
    .footer p{
        font-size: 22px;
        bottom: 10px;
       }
}

@media(max-width:579.98px){
    /* header */
    .logo {
        max-width: 280px;
    }
    .menu.active {
        min-width: 300px;
        min-height: 300px;
    }
    .menu ul li {
        margin-bottom: 10px;
    }
    .menu ul li a {
        font-size: 14px;
    }
    /* footer */
    .footer p{
        font-size: 16px;
        bottom: 5px;
       }
}
@media(max-width:400.98px){
    /* header */
    .logo {
        max-width: 220px;
    }
}

/* main */
@media(max-width:1024.98px){
    .container__title {
        font-size: 30px;
        max-width: 400px;
        text-align: center;
    }
    /* first-screen */
    .container__fsc {
        flex-direction: column;
        align-items: center;
    }
    .container-fsc__img {
       margin-bottom: 130px;
    }
    .container-fsc__img::after{
        left: calc(50% - 50px);
        bottom:calc(0% - 100px);
    }
    
    #first-screen {
        margin-bottom: 50px;
    }
    .container__fsc .btn_yellow {
        font-size: 14px;
        padding: 14px 30px;
    }
    /* about-us */
    .container-about-us__info::after{
        width: 80px;
        height: 80px;
        background-size: 80px;
        bottom: calc(100% - 30px);
        right: calc(50% - 140px);
    }
    .container-about-us__info {
        margin-bottom: 150px;
    }
    .container-about-us__subtitle {
        font-size: 18px;
    }
    .container-about-us__info::before {
        top: 100px;
    }
    .about-us__row {
        flex-direction: column;
        align-items: center;
    }
    .about-us__item {
        margin-bottom: 50px;
    }
    .about-us__item:nth-child(2) {
        margin-top: 0px;
    }
    .container__about-us::after {
        top: 100px;
    }
    /* faq */
    /* faq */
    .accordion__item .accordion__title {
        font-size: 22px;
    line-height: 32px;
    padding: 35px 80px 35px 45px;
    margin-bottom: 20px;
    
    }
    .accordion__item .accordion__content {
    font-size: 20px;
    line-height: 27px;
    }
}

@media(max-width:579.98px){
    /* first-screen */
    .container-fsc__img {
        margin-bottom: 100px;
     }
     .container-fsc__img::after{
         left: calc(50% - 50px);
         bottom:calc(0% - 80px);
     }
     

    /* about-us */
    .about-us__item img{
        max-width: 170px;
        max-height:170px;
        width: 100%;
        height: 100%;
    }
    .container__about-us::after {
        top: 135px;
    }
    .container-about-us__info::before {
        top: 120px;
    }
    .container-about-us__subtitle {
        font-size: 16px;
        max-width: 800px;

    }
    .about-us__item__title {
        font-size: 34px;
    }
    .about-us__item__subtitle {
        margin-bottom: 15px;
        max-width: 300px;
        font-size: 14px;
        line-height: 20px;
    }

    /* faq */
    .accordion__item .accordion__title {
        font-size: 16px;
    line-height: 32px;
    padding: 15px 60px 15px 25px;
    margin-bottom: 10px;
    
    }
    .accordion__item .accordion__content {
    font-size: 14px;
    line-height: 27px;
    }
}


@media(max-width:460.98px){
    /* first-screen */
    .container-fsc__img {
        margin-bottom: 60px;
     }
     .container-fsc__img::after{
         left: calc(50% - 50px);
         bottom:calc(0% - 20px);
     }
     

}